
<md-content layout-padding flex ng-controller="XmlListController" ng-init="repoName='<%= repoName %>'">
    <md-subheader class="md-primary">Preview android xml values from you github repository</md-subheader>

    <% if (xmls.length == 0) { %>
    <md-toolbar class="md-tall md-accent">
        <h2 class="md-toolbar-tools">
            <span>I cant find any resource xml in your repo ;(</span>
        </h2>

        <div layout-padding>
            <md-button href="/">Back</md-button>
        </div>
    </md-toolbar>
    <% } else {%>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">XMLs (<%= xmls.length %>)</h1>
            </md-toolbar>

            <md-content class="md-padding">
                <md-list>
                    <% for (var i = 0; i < xmls.length; i++) { %>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-content">
                                <md-button ng-click="showContent('<%= xmls[i].path %>')"><%= xmls[i].name %></md-button>

                                <p><%= xmls[i].path %></p>
                            </div>
                        </md-item-content>
                    </md-item>
                    <% } %>
                </md-list>
            </md-content>
        </md-sidenav>

        <div class="md-whiteframe-z1" flex layout-padding>
            <div ng-if="isLoading" layout="row" flex layout-padding layout-align="center start">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

            <span ng-if="!isLoading && content === null">Select file to preview</span>
            <div ng-if="!isLoading && content !== null" ng-model="content" ui-codemirror ui-codemirror-opts="editorOptions">
            </div>
        </div>
    </section>
    <% } %>
</md-content>
